<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E8E9226-58A5-4807-B762-FC2A1CF00F88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>671C7FDB-91CB-469F-849D-D919E0AE2312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A984A5E-740A-40AA-8022-3393CE00EDBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76317EC4-1542-47DF-ABF9-DE7ADBA779B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41C6AF56-CFA6-4B8C-A0F6-B1BBA9BD0B13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>434EB669-4044-438F-AFF4-288918F87BCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83AC5203-C006-41D4-B48A-E05E5B65B441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B768B98-E97D-45DD-83E2-CED9401744FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77C01930-C4A9-41B1-BCDF-199229F773DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>647E2802-90FA-409F-9678-5C69B99DA836</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688DAA8C-3A22-49DD-8422-471695CD1584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>671C7FDB-91CB-469F-849D-D919E0AE2312</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BC0BA9F-52CA-4852-A0BC-2EC25AB54C50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C981F0A-F0E9-46C1-8D7A-4FB34848B151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72787267-76A7-46E7-B0CF-7565BCA50F12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76317EC4-1542-47DF-ABF9-DE7ADBA779B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77C01930-C4A9-41B1-BCDF-199229F773DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>647E2802-90FA-409F-9678-5C69B99DA836</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>423E9154-BCAE-4178-A4A2-F1AEE73B0ED4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D973902E-EED8-4FFF-80CC-FA457CF2171E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79CA9F4E-8179-4FC0-9B39-510B5958EA5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>434EB669-4044-438F-AFF4-288918F87BCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83AC5203-C006-41D4-B48A-E05E5B65B441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60560A7D-552D-4D24-A81A-5967446D4BE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5332048A-B372-4A0F-9B4E-C1118DB5F8E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C981F0A-F0E9-46C1-8D7A-4FB34848B151</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E8E9226-58A5-4807-B762-FC2A1CF00F88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE9D193E-4AEF-4B58-9CD8-DFA8129B5A32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79CA9F4E-8179-4FC0-9B39-510B5958EA5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBA635A6-33DB-4631-A097-E721EA6AB947</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72787267-76A7-46E7-B0CF-7565BCA50F12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF5D9D16-64C3-4EA3-BE22-052C233C0776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECA24E90-02DB-4204-B7E4-9A06A5B07EFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECA24E90-02DB-4204-B7E4-9A06A5B07EFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE979128-C41C-472C-B0CD-1BCD7AFBE06E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41C6AF56-CFA6-4B8C-A0F6-B1BBA9BD0B13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LacheRo`</string>
	<key>description</key>
	<string>SSH Connection to an EC2 instance</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EC2 Login</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>for i in {30..37}; do echo -e "\033[1;$i""m Establish SSH connection with {var:machineName} \033[0m"; done
ssh -i {var:key} {var:connection}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>60560A7D-552D-4D24-A81A-5967446D4BE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ec2login</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node instances.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>SSH connection to an EC2 instance</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE9D193E-4AEF-4B58-9CD8-DFA8129B5A32</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>B22CE4ED-B05E-4B88-98E9-614029D0F7CB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>79CA9F4E-8179-4FC0-9B39-510B5958EA5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>connection</key>
					<string>{var:split1}</string>
					<key>key</key>
					<string>{var:split3}</string>
					<key>machineName</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>83AC5203-C006-41D4-B48A-E05E5B65B441</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>434EB669-4044-438F-AFF4-288918F87BCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Connection established</string>
				<key>title</key>
				<string>{var:machineName}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5332048A-B372-4A0F-9B4E-C1118DB5F8E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2add</string>
				<key>subtext</key>
				<string>Format: name,username@ip</string>
				<key>text</key>
				<string>Add an instance</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6BC0BA9F-52CA-4852-A0BC-2EC25AB54C50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node keys.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1E8E9226-58A5-4807-B762-FC2A1CF00F88</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>data=$data key=$1 ./node_modules/.bin/run-node addInstance.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>671C7FDB-91CB-469F-849D-D919E0AE2312</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>data</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9C981F0A-F0E9-46C1-8D7A-4FB34848B151</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error occured</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>688DAA8C-3A22-49DD-8422-471695CD1584</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ec2remove</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node instances.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Remove an instance</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A984A5E-740A-40AA-8022-3393CE00EDBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>data=$1 ./node_modules/.bin/run-node removeInstance.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76317EC4-1542-47DF-ABF9-DE7ADBA779B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>#ERR </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>647E2802-90FA-409F-9678-5C69B99DA836</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>317CA8A2-8BCA-455D-8C41-2DFAC93F844C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^#ERR</string>
						<key>outputlabel</key>
						<string>err</string>
						<key>uid</key>
						<string>423E9154-BCAE-4178-A4A2-F1AEE73B0ED4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>77C01930-C4A9-41B1-BCDF-199229F773DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4B768B98-E97D-45DD-83E2-CED9401744FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D973902E-EED8-4FFF-80CC-FA457CF2171E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>data=$1 ./node_modules/.bin/run-node addKey.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72787267-76A7-46E7-B0CF-7565BCA50F12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2add</string>
				<key>subtext</key>
				<string>Format: name,path</string>
				<key>text</key>
				<string>Add a key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBA635A6-33DB-4631-A097-E721EA6AB947</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ec2remove</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node keys.js true</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Remove a key</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DF5D9D16-64C3-4EA3-BE22-052C233C0776</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>data=$1 ./node_modules/.bin/run-node removeKey.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECA24E90-02DB-4204-B7E4-9A06A5B07EFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ec2reset</string>
				<key>subtext</key>
				<string>Remove all the configurations</string>
				<key>text</key>
				<string>Reset files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE979128-C41C-472C-B0CD-1BCD7AFBE06E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node reset.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41C6AF56-CFA6-4B8C-A0F6-B1BBA9BD0B13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Setup Instructions
In order to connect to a server you need to add your keys first and then the instances.

To add keys and instances use the 'ec2add' keyword.

Add instance format:
name,username@ip
for e.g. My App,root@1.2.3.4

Add key format:
name,path
for e.g. Master,/Keys/master.pem

## How to use
Once you added your keys and your instances use the 'ec2login' keyword in order to establish an SSH connection with your instance

If you want to remove key or instance use the 'ec2remove' keyword

## Bugs
If you are facing any bug you can use the 'ec2reset' keyword and it will remove your keys and instances and generate new empty files

## GitHub URL
https://github.com/lacherogwu/alfred-workflows-ec2Login</string>
	<key>uidata</key>
	<dict>
		<key>1E8E9226-58A5-4807-B762-FC2A1CF00F88</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>2A984A5E-740A-40AA-8022-3393CE00EDBB</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>41C6AF56-CFA6-4B8C-A0F6-B1BBA9BD0B13</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>434EB669-4044-438F-AFF4-288918F87BCF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>4B768B98-E97D-45DD-83E2-CED9401744FC</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>5332048A-B372-4A0F-9B4E-C1118DB5F8E1</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>60560A7D-552D-4D24-A81A-5967446D4BE7</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>647E2802-90FA-409F-9678-5C69B99DA836</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>671C7FDB-91CB-469F-849D-D919E0AE2312</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>688DAA8C-3A22-49DD-8422-471695CD1584</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>6BC0BA9F-52CA-4852-A0BC-2EC25AB54C50</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>72787267-76A7-46E7-B0CF-7565BCA50F12</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>76317EC4-1542-47DF-ABF9-DE7ADBA779B4</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>77C01930-C4A9-41B1-BCDF-199229F773DC</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>79CA9F4E-8179-4FC0-9B39-510B5958EA5D</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>83AC5203-C006-41D4-B48A-E05E5B65B441</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>9C981F0A-F0E9-46C1-8D7A-4FB34848B151</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>BE9D193E-4AEF-4B58-9CD8-DFA8129B5A32</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D973902E-EED8-4FFF-80CC-FA457CF2171E</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>DBA635A6-33DB-4631-A097-E721EA6AB947</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>DF5D9D16-64C3-4EA3-BE22-052C233C0776</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>ECA24E90-02DB-4204-B7E4-9A06A5B07EFF</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>FE979128-C41C-472C-B0CD-1BCD7AFBE06E</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/lacherogwu/alfred-workflows-ec2Login</string>
</dict>
</plist>
